<div id="block_right" class="border_container quarter_width_container">
	<%= ajax_link "tab4", tab4_path, :class => 'css_class', :id =>'tab4_id', :target=>"tab4_container" %>
	<%= ajax_link "tab5", tab5_path, :class => 'css_class', :id =>'tab5_id', :target=>"tab4_container" %>
	<%= ajax_container :id=>"tab4_container", :class => "css_class" do %>
	<% end %>
</div>