// Place all the styles related to the example controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.border_container {
  border: solid 1px;
  padding: 10px;
  margin: 10px;
}

.full_width_container {
  width: 980px;
}

.half_width_container {
  width: 448px;
  float: left;
}

.quarter_width_container {
  width: 405px;
}

#block_center {
  height: 150px;
}

